$font-family-sans-serif: 'Lato', sans-serif;

$gray-dark:             #444B65 !default;
$gray-600:              #A7B2D2 !default;

$body-bg:               #FAFBFF !default;

$primary:               #57AC30 !default;


$h1-font-size:          3.2em;