$font-family-sans-serif: 'Roboto', sans-serif;
$gray-dark:             #444B65 !default;
$gray-600:              #A7B2D2 !default;

$body-bg:               #FAFBFF !default;

$primary:               #0078FF !default;
$success:               #00E89D !default;
$secondary:             #0092FF !default;
$warning:               #FFAB00 !default;
$danger:                #FF275F !default;
$text-color:              $gray-dark !default;